:root {
  --velum-blanco-hueso: #F4F0EE;
  --velum-azul-velum: #0B1D34;
  --velum-oro-velum: #D4AF37;
  --velum-crema: #E8DCC0;
  --velum-azul-medio: #20344D;
  --velum-oro-oscuro: #B8912B;
  --velum-gris-perla: #DADDE3;
  --velum-gris: #55585F;
  --velum-negro: #1A1A1A;
}
